#main {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

#nav {
    display: block;
    width: 100%;
    max-height: fit-content; 

}

#nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    max-height: fit-content; 
}

#nav p {
    margin-bottom: 4px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 5px;
    margin: 0 5px;
}

.nav-dropdown {
    display: inline-block;
    position: relative;
    background-color: white;
    z-index: 1;
    color: blue;
    white-space: nowrap;
}

.nav-dropdown-content {
    display: none;
    position: absolute;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: block;
}

.nav-dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: white;
}
  
.nav-dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}